KinectStudioControllerCSharp.v11.suo
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.exe
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.exe.config
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.pdb
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.vshost.exe
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.vshost.exe.config
KinectStudioControllerCSharp/bin/Debug/KinectStudioControllerCSharp.vshost.exe.manifest
KinectStudioControllerCSharp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KinectStudioControllerCSharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.csproj.FileListAbsolute.txt
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.csproj.GenerateResource.Cache
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.csprojResolveAssemblyReference.cache
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.exe
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.Form1.resources
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.pdb
KinectStudioControllerCSharp/obj/Debug/KinectStudioControllerCSharp.Properties.Resources.resources
KinectStudioControllerCSharp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KinectStudioControllerCSharp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KinectStudioControllerCSharp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
